.hd_header_wrap1 {
	width:100%;
	height:181px;
	border-bottom: 2px solid #ff4040;
	/*background-color:#e5e5e5;*/

}
 
a:hover{
    color:#999999;
}
.check_new:hover {
    color:#fff;

}
.mpc_content {
	margin: 0 auto;
	background-color:#fff;
}
.content_pic {
	width:1228px;
	height: 138px;
	background: #F6F6F6;
	/*border:1px solid #000;*/
	margin:0 auto;
	display:flex;
	justify-content: center;
	align-items:center;
   flex-direction: column;
	 
}
.content_pic .text_pic   {
   margin-top:16px;
   color:#333;
   font-size:14px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.content_pic .text_pic .happy {
   /* margin-left: 14px;*/
    margin-right: 71px;
    width:60px;
    float:left;
     text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
   text-align:center;
}
.content_pic .text_pic .sleep {
    width:60px;
     text-overflow: ellipsis;
   overflow: hidden;
   white-space: nowrap;
    float:left;
    text-align:center;

}
.content_pic .content_yhd_jd_i {
    
    display:flex;
    justify-content: center;
    align-items:center;
}
.content_pic .content_yhd_jd_i .yhd {
   color:#fff;
   font-size:11px;
    position:absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
.content_pic .content_yhd_jd_i .jd {
   color:#fff;
   font-size:11px;
    position:absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}
 
.content_pic .content_yhd_jd  {
	/*width:195px;
	height: 58.5px;*/
    display:flex;
	/*border:1px solid #aaa;*/
}
.content_pic .content_yhd_jd .yhd_shops {
    position:relative;
     margin-right:23px;
     overflow:hidden;
    border-radius:30px;
}
.content_pic .content_yhd_jd .yhd_jd_s {
    position:relative;
    margin-left:23px;
    overflow:hidden;
    border-radius:30px;
}
.content_pic .content_yhd_jd .yhd_shops .yhd {
    width:60px;
    height: 15px;
    background:rgba(46,46,46,0.5);
    color:#fff;
    font-size:11px;
}
.content_pic .content_yhd_jd .yhd_jd_s .jd{
    width:60px;
    height: 15px;
    background:rgba(46,46,46,0.5);
    color:#fff;
    font-size:11px;
}
.content_pic .content_yhd_jd .shops{
    width:60px;
    height: 60px;

   
}
.content_pic .content_yhd_jd .tip {
    width:23px;
    margin-top:23px;
}
.content_pic .content_yhd_jd .jd_s{
    width:60px;
    height: 60px;
    
}
.content_pic .content_yhd_jd img {
    width:100%;
    height: 100%;
}
.content_account {
    margin-top:28px;
    margin:0 auto;
    width:1228px;
}
 
.content_account p {
	width:458px;
	height: 20px;
	font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333333;
    margin:0 auto;
    margin-top:28px;
}
.content_account .input_check {
    margin:0 auto;
}

 .content_account .input_check .input_check_text {
    margin:0 auto;
}
 
.input_check .input_check_text .input_check_mobile {
	float:left;
}

 .input_check .input_check_text .input_check_mobile input {
	padding:0px 0px 0px 17px;
	width:196px;
	height: 50px;
	font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #333;
    line-height: 14px;
    border: 1px solid #CFCFCF;
    border-radius: 2px;
    margin-top:17px;
    /*margin-left: 785px;*/
    margin-left:447px;
    outline:none;
    box-sizing:border-box;

}
.content_account .input_check .input_check_text .get_account {
	margin-left:8px;
	width:126px;
	height: 50px;
	background: #57565F;
   /* border: 1px solid #CFCFCF;*/
    border-radius: 2px;
    float: left;
    margin-top:17px;

}
.content_account .input_check .input_check_text .get_account .getcode{

	display:block;
	/*width:70px;
	height: 14px;
	padding:18px 28px;*/
	font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    line-height: 50px;
    text-align:center;
    box-sizing:border-box;
}
.content_account .input_check .check {
	width:84px;
	height: 12px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #3A77FD;
    line-height: 12px;
    display:block;
    margin-top:55px;
    float:left;
    margin-left:10px;
}
.mpc_content .content_button { 
    
    width:110px;
    height: 36px;
    margin:0 auto;
    
     
}
.mpc_content .content_button .check_now {
	 
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999999;
    width:56px;
    height: 20px;
    padding:8px 27px;
    display:block;
    margin-top:62px;
    background: #E7E7E7;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
     
}
.seconds {
    pointer-events:none;
    border-radius: 2px;
    display:block;
    text-align:center;
    height:17px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #999999;  
    margin:0 auto;
    margin-top:16px;

}
.account_again {
    /*width:84px;*/
    height: 17px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
   padding:18px 21px 16px 21px;
    display:block;   
    background: #57565F;
 /*   border: 1px solid #CFCFCF;*/
    border-radius: 2px; 

}
.account_again:hover {
    color:#fff;
}
.check_new {
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #FFFFFF;
    padding:8px 27px;
    display:block;
    width:56px;
    height:20px;
   /* background: #FF5C4D;*/
   background:rgb(255,92,77);
    border: 1px solid #FF4143;
    border-radius: 2px;
    margin-top:62px;
}
.check_new:hover {
    background:rgb(251,58,41);
}
.check_new:click {
    background:rgb(241,41,24);
}
/*弹窗*/
.pop-common {
    position:relative;
}
.gift_get_fail {
    width:443px;
}
.pop-common-dialog {
    display:none;
    position:absolute;
    top:-220px;
    left:49.6%;
    z-index:10001;
   margin-left:-214px;
}
.pop-keytips-relbox {
    position:relative;
    width:100%;
    height: 100%;
    overflow:hidden;
}
.dialog-main-close {
    display:block;
    position:absolute;
    width:11.9px;
    height:12px;
    right:13.6px;
    top:14.7px;
    cursor:pointer;
    text-align:center;
    color:#9f9f9f;
}
.dialog-main-close .iconfont {
    font-size:16px;
}
.close:hover {
   color:#545454 ;
}
.closes:hover {
   color:#545454 ;
}
.close-s:hover {
   color:#545454 ;
}

.pop-key-notice-txt {
    background: #FFFFFF;
    margin:8px 7px 7px 7px;
    
}
 
.pop-key-notice-txt .title {
    
    height: 172px;
    overflow: hidden;
    margin: 0 auto;
    padding:29px 0px 40px 62px;
    font-family: PingFangSC-Regular;
    /*line-height: 24px;*/
    background: #FFFFFF;
    border: 1px solid #B4B4B4;
     
}
 .pop-key-notice-txt .title .check_success{
    margin:0 auto;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #212121;
    line-height: 24px;
    margin-left:-28px;
 }
 .pop-key-notice-txt .title .check_fail{
    margin:0 auto;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    color: #212121;
    line-height: 24px;
    margin-left:-28px;
 }
 .pop-key-notice-txt .title .check_fail span{
    font-size: 16px;
    line-height: 16px;
    margin-top: 13px;
    color: #999;
 }
 .pop-key-notice-txt .title .check_fail p {
    display:flex;
    justify-content: center;
    align-content: center;
 }
 .pop-key-notice-txt .title .check_success p {
    display:flex;
    justify-content: center;
    align-content: center;
 }
.pop-key-notice-txt .title .input_code {
    margin-top:28px;
}
 .pop-key-notice-txt .title .input_code .second{
    width:166px;
    float:left;
    border-radius:2px;
    background: #F9F9F9;
   border:1px solid #F9F9F9;
 }
input::-webkit-contacts-auto-fill-button {
visibility: hidden;
display: none !important;
pointer-events: none;
position: absolute;
right: 0;
}
 .pop-key-notice-txt .title .input_code .second input {
    font-family: PingFangSC-Regular;
    font-size: 16px;
    color: #333;
    padding:0px 0px 0px 13px;
    width:100%;
    border:0 none;
    border-radius:2px;
    background: #F9F9F9;
    outline:none;
    box-sizing:border-box;
    height:48px;
    /*border:1px solid #fff;
     */
}
.pop-key-notice-txt .title .input_code .show_input {
    border:1px solid #FF5C4D;
}
 .pop-key-notice-txt .title .input_code .input_pic {
    float:left;
 }
 .pop-key-notice-txt .title .input_code .input_pic img {
    display:block;
    padding-left:8px;
    margin-right:5px;
   /* width:101px;*/
    height: 50px;
 }
 .pop-key-notice-txt .title .input_code .change {
    width:42px;
    height: 20px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #3A77FD;
    text-align: center;
    float:left;
    margin-top:15px;

 }

 
 .gift_get_fail .title .check_sure {
    /* margin-top:29.3px;*/
    position:absolute;
    left:178px;
    bottom:48px;
 }
.gift_get_fail .title .sure{
   display:block; 
   width:28px;
   height:20px;
   padding:8px 41px;
   font-family: PingFangSC-Regular;
   font-size: 14px;
   color: #FFFFFF;
   background:rgb(255,92,77);
   border: 1px solid #FF4143;
   border-radius: 2px;
   margin:0 auto;
}
.gift_get_fail .title .sure:hover {
    background:rgb(251,58,41);
}
.gift_get_fail .title .sure:click {
    background:rgb(241,41,24);
}
.gift_get_fail .title  .iconfont {
    position: absolute;
    top: 0;
    left: 0;
    color: #b89457;
    font-size: 30px;
    font-weight: normal;
    line-height: 54px;
}
 
.full-opacity-bg {
    width:100%;
    height: 100%;
    opacity: 0.7;
    background: #B4B4B4;
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
}
.popup_mask {
    position:absolute;
    left:0;
    top:0;
    z-index:10000;
    width:100%;
    background-color: #000;
    opacity:.6;
    height:100%;
    display: none;
}
/*弹窗2*/
.pop-commons {
    position:relative;
}
.pop-commons_fail {
    position:relative;
}
.gift_get_fails {
    width:349px;
}
.pop-common-dialogs {
    display:none;
    position:absolute;
    top:-190px;
    left:49.75%;
    z-index:10001;
   margin-left:-169px;
}
.pop-keytips-relboxs {
    position:relative;
    width:100%;
    height: 100%;
    overflow:hidden;
}
.dialog-main-closes {
    display:block;
    position:absolute;
    width:11.9px;
    height:12px;
    right:13.6px;
    top:14.7px;
    cursor:pointer;
    text-align:center;
    color:#979797;
    
}
.dialog-main-closes .iconfont {
    font-size:16px;
}
.pop-key-notice-txts {
    background: #FFFFFF;
    border: 1px solid #B4B4B4;
    margin:6px 6px 6px 5px;
    
}
 
.pop-key-notice-txts .title {
    width: 276px;
    height: 128px;
    overflow: hidden;
    margin: 0 auto;
    padding:38px 21px 30px 41px;
    font-family: PingFangSC-Regular;
    font-size: 16px;
   /* border: 1px solid #979797;*/
    color: #212121;
    line-height: 24px;

     
}
.gift_get_fails .title span {
    
    display: inline-block;
    position: relative;
     
}
.gift_get_fails .title .check_success{
    font-size:18px;
    margin:0 auto;
    margin-top:-15px;
}
.gift_get_fails .title .check_success p{
    display:flex;
    justify-content: center;
    align-content: center;
    margin-bottom:4px;
} 
.gift_get_fails .title .check_success span {
    font-size:16px;
}

.gift_get_fails .title .check_fail{
    font-size:18px;
    margin:0 auto;
    margin-top:-15px;
    text-align: center;
}
.gift_get_fails .title .check_fail p{
    margin-top:22.3px;
    display:flex;
    justify-content: center;
    align-content: center;
} 
.gift_get_fails .title .check_fail span {
    font-size: 16px;
    line-height: 16px;
    margin-top: 13px;
    color: #999;
}

.gift_get_fails .title a {
    display:block;
    margin-top:20px;
    margin-left:74px;
}
.gift_get_fails .title .sures_fail{
   display:block; 
   /*line-height: 18px;*/
   width:28px;
   height:20px;
   padding:8px 41px;
   font-family: PingFangSC-Regular;
   font-size: 14px;
   color: #FFFFFF;
   background:rgb(255,92,77);
   border: 1px solid #FF4143;
   border-radius: 2px;
   margin-top:41px;
}
.gift_get_fails .title .sures{
   display:block; 
   /*line-height: 18px;*/
   width:28px;
   height:20px;
   padding:8px 41px;
   font-family: PingFangSC-Regular;
   font-size: 14px;
   color: #FFFFFF;
   background:rgb(255,92,77);
   border: 1px solid #FF4143;
   border-radius: 2px;
}
.gift_get_fails .title .sures:hover {
    background:rgb(251,58,41);
}
.gift_get_fails .title .sures:click {
    background:rgb(241,41,24);
}
.gift_get_fails .title  .iconfont {
    position: absolute;
    top: 0;
    left: 0;
    color: #b89457;
    font-size: 30px;
    font-weight: normal;
    line-height: 54px;
}
  
/*弹窗3*/
.pop-common-s {
    position:relative;
}
.gift_get_fail-s {
    width:349px;
}
.pop-common-dialog-s {
    display:none;
    position:absolute;
    top:-155px;
    left:49.8%;
    z-index:10001;
   margin-left:-169px;
}
.pop-keytips-relbox-s {
    position:relative;
    width:100%;
    height: 100%;
    overflow:hidden;
}
.dialog-main-close-s {
    display:block;
    position:absolute;
    width:11.9px;
    height:12px;
    right:13.6px;
    top:14.7px;
    cursor:pointer;
    text-align:center;
    color:#979797;
     
}
.dialog-main-close-s .iconfont {
    font-size:16px;
}
.pop-key-notice-txt-s {
    background: #FFFFFF;
    border: 1px solid #B4B4B4;
    margin:5px 6px 4px 5px;
    
}
 
.pop-key-notice-txt-s .title {
    width: 126px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    padding:49px 106px;
    color: #333;
    font-family: PingFangSC-Regular;
    font-size: 18px;
    text-align: center;
    
    
}
.gift_get_fail-s .title span {
    
    display: inline-block;
    position: relative;
     
}
.gift_get_fail-s .title .kefu{
   display:block;
   font-family: PingFangSC-Regular;
   font-size: 15px;
   color: #3A77FD;
   line-height: 18px;
   width:105px;
   height: 18px;
   margin-top:7px;
   margin-left: auto;
   margin-right: auto;
  /* padding-left:5px;
   padding-right: 12px;*/
}
.gift_get_fail-s .title  .iconfont {
    position: absolute;
    top: 0;
    left: 0;
    color: #b89457;
    font-size: 30px;
    font-weight: normal;
    line-height: 54px;
}

/*报错弹框*/
.check_account .error_check{
    float:left;
    position: absolute;
    top:74px;
    left:448px;
}
.check_account .error_check .check_work {
    margin-top:3px;
}
.check_account .error_check .check_work i {
    font-family: PingFangSC-Regular;
    font-size: 15px;
    color: #FF5C4D;
}
.check_account .error_check .check_work .yzm{
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FF5C4D;
    margin-left:3px;
    display:inline-block;
}
.check_account .check_three {
    position:relative;
}
.none{
    display: none;
}
/*验证码错误部分增加的内容*/
.checkError {
    margin-top:6px;
    font-family: PingFangSC-Regular;
   /* font-size: 15px;*/
    color: #FF5C4D;
    display: none;
}
.checkError .yzm {
    font-size: 12px;
    color: #FF5C4D;
    margin-left:1px;
    display:inline-block;
}
.wrong_coin {
    font-size:15px;
}






